.idea*
target/
project/boot
logs/

.history
.DS_Store
*~

/tracker/dist/
/dashboard/data
/serf/data

*.iml

.vagrant
*.log

part-r-*
*.pem
credentials.json

*.aux
*.dvi

RUNNING_PID

.cache
.classpath
.settings
.project
